# --- Core Frameworks ---
aiogram>=3.26.0
t-tech-investments>=0.3.3

# --- Async & Network ---
aiohttp>=3.13.3
aiohttp-socks>=0.11.0

# --- Reliability & Testing (Development) ---
mypy>=1.19.1
pytype>=2024.10.11
pytest>=8.1.1
pytest-asyncio>=0.23.5
black>=26.3.1
pre-commit>=4.5.1

# --- Types Stubs (для Mypy) ---
types-setuptools
types-requests